.navbar {
    height: 70px;
    background: var(--blackrgb);
}
.navbar .navbar-brand {
    font-size: 26px;
    font-weight: 700;
    color: var(--white);
}
.navbar .navbar-nav a {
    font-size: 18px;
    color: var(--white);
    font-weight: 600;
    margin: 5px;
}
.navbar .navbar-nav a:hover {
    color: var(--hover);
}

.navbar .nav-item.uzb {
    width: 50px;
    display: flex;
    justify-content: center;
}
.navbar .nav-item.lang {
    border-bottom: 5px solid var(--hover);
}
