.navbar {
    height: 70px;
    background: var(--blackrgb);
}
.navbar .navbar-brand {
    font-size: 26px;
    font-weight: 700;
    color: var(--white);
}
.navbar .navbar-nav a {
    font-size: 18px;
    color: var(--white);
    font-weight: 600;
    margin-left: 10px;
}
.navbar .navbar-nav a:hover {
    color: var(--hover);
}