.navbar {
    height: 70px;
    background: var(--blackrgb);
}
.navbar .navbar-brand {
    font-size: 26px;
    font-weight: 700;
    color: var(--white);
}
.navbar .navbar-nav a {
    font-size: 18px;
    color: var(--white);
    font-weight: 600;
    margin: 3px;
}
.navbar .navbar-nav a:hover {
    color: var(--hover);
}

.navbar .nav-item.uzb {
    width: 50px;
    display: flex;
    justify-content: center;
}
.navbar .nav-item.lang {
    /*border-bottom: 3px solid var(--hover);
    */background: var(--hover);
    border-radius: 10px;
}
.navbar-nav .cart-count {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: var(--hover);
    position: absolute;
    right: 5px;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.navbar-nav .nav-link.cart-shop {
    font-size: 24px;
}
.navbar-nav .nav-item.active {
    border-bottom: 3px solid var(--hover);
}
